.productbasket {
  background-image: url(../../assets/images/cart-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  height: 80%;
  width: 25%;
  margin: auto;
  cursor: pointer;
}
