
.cartsection {

    .cartitem {
        display: grid;
        grid-template-columns: 20% 20% 30% 20% 10%;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }

        h3 {
            color: white;
            margin: 4px;
        }
        p {
            color: white;
            text-align: right;
        }
        h5 {
            color: white;
        }
        .buttoncontainer {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            div {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                height: 100%;
                background-color: #00f9b6;
                border: 1px solid #00f9b6;
                border-radius: 8px;
                span {
                    color: black;
                    width: 90%;
                    text-align: center;
                    margin: auto;
                    border-left: 2px solid grey;
                    border-right: 2px solid grey;
                }
                button {
                    background-color: #00f9b6;
                    border: none;
                    border-radius: 8px;
                }
            }
        }
    }
    .totalcontainer {
        h2 {
            color: white;
        }
        p {
            color: white;
        }
    }
}